.grid-libros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 32px;
    margin-top: 24px;
}
.libro-seleccionado-info {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f3f4f6;
    border-radius: 8px;
    color: #4b5563;
}
