<main class="container">
    <section class="presentacion">
        <img src="images/avatar.webp" alt="Avatar" class="avatar">
        <div class="presentacion-texto">
            <h1>Soy Brayan Pahuara</h1>
            <p>Estudiante de Ingeniería de Sistemas y Computación.</p>
            <a href="contacto" class="btn-contacto">Contáctame</a>
        </div>
    </section>
    <hr>
    <section class="sobre-mi">
        <h2>Sobre Mí</h2>
        <p>Soy estudiante de Ingeniería de Sistemas y Computación en la
        Universidad Nacional José María Arguedas.</p>
        <p>Me gusta aprender nuevas tecnologías y explorar el mundo del desarrollo web.</p>
    </section>
</main>