
<main class="container">
    @if (cargando) {
        <p class="mensaje-carga">Cargando detalles del libro...</p>
    } @else{
    @if (libro){
        <section class="detalle-libro">
            <div class="info-libro">
                <h2>{{libro.titulo}}</h2>
                <p><strong>Autor:</strong> {{libro.autor}}</p>
                <table class="detalle-datos">
                    <tr>
                        <th>Genero</th>
                        <td>{{libro.tabla.genero}}</td>
                    </tr>
                    <tr>
                        <th>Idioma original</th>
                        <td>{{libro.tabla.idioma}}</td>
                    </tr>
                    <tr>
                        <th>Año de publicación</th>
                        <td>{{libro.tabla.anio}}</td>
                    </tr>
                    <tr>
                        <th>País</th>
                        <td>{{libro.tabla.pais}}</td>
                    </tr>
                </table>
            </div>
            <div class="portada-libro">
                <img [src]="libro.imagen" [alt]="'Portada del libro ' + libro.titulo">
            </div>
        </section>
        <section class = "reseña">
            <h3>Reseña personal</h3>
            <p [innerHTML]="libro.resenia"></p>
        </section>
        <div class="boton-atras">
            <a href="/libros">← Volver a Libros</a>
        </div>}
    }
</main>
